body {
	background: #bbddff;
	color: #333333;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

h1 {
        text-align: center;
        width: 100%;
}

footer {
        position: fixed;
	bottom: 0;
        font-size: 10pt;
        text-align: center;
        width: 100%;
}

.hidden{
	display:none;
}
