<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>guesser - a guessing game that learns</title>
    <link rel="stylesheet" href="base.css">
    <script src="bower_components/angularjs/angular.min.js"></script>
  </head>
  
  <body>
    <h1>guesser - a guessing game that learns</h1>
    <div ng-app="guesser" ng-controller="guesserController">

     <div ng-switch="view">
      <!-- First view, the welcome screen: -->
      <div ng-switch-when="welcome">
       <h2>Welcome, think of a thing or an animal, I will try to
         guess it!</h2>
       <form name="enterName">
        <p>But first, enter your name: 
         <input type="text" ng-model="container.name" required/>,
           and click 
         <button ng-disabled="enterName.$invalid"
           ng-click="startGame()">Start</button> when you are
         ready.</p>
       </form>
      </div>
      <!-- Second view, the questions screen: -->
      <div ng-switch-when="question">
        <h2>{{container.name}}, please answer the following question:</h2>

        <p>{{theQuestion}}</p>
        <p><button ng-click="answer(current.goto1)">{{theAnswer1}}</button>
           <button ng-click="answer(current.goto2)">{{theAnswer2}}</button></p>
      </div>
     </div>
    </div>
    <script src="guesser_controller.js"></script>
  </body>
</html> 

